name: Code Analysis
run-name: Running code analysis
on:
  pull_request:
    branches:
      - main

jobs:
  Detekt:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.artifact-upload-step.outputs.artifact-id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: set up
        uses: ./.github/actions/setup
      - name: Run Detekt Analysis
        run: ./gradlew clean detekt --no-daemon --parallel --configuration-cache --stacktrace
      - name: Upload Detekt report (HTML)
        if: always()
        uses: actions/upload-artifact@v4
        id: artifact-upload-step
        with:
          name: detekt-report
          path: |
            **/build/reports/detekt.html
          if-no-files-found: warn

  UnitTests:
    runs-on: ubuntu-latest
    outputs:
      output1: ${{ steps.artifact-upload-step.outputs.artifact-id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: set up
        uses: ./.github/actions/setup
      - name: Run Unit Tests
        run: ./gradlew clean testDebugUnitTest --no-daemon --parallel --configuration-cache
      - name: Upload Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        id: artifact-upload-step
        with:
          name: test-reports
          path: |
            **/build/reports/tests/
          if-no-files-found: warn

  SummaryComment:
    needs: [ UnitTests, Detekt ]
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Success Comment on PR
        if: ${{ (contains(needs.Build.result, 'failure')) }} == true ] || [ ${{ (contains(needs.UnitTests.result, 'failure')) }} == true
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Code analysis completed! ✅
            Test reports artifact for this run:
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts/${{needs.UnitTests.outputs.output1}}
            Detekt report artifact for this run:
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}/artifacts/${{ needs.Detekt.outputs.output1 }}
      - name: Failure Comment on PR
        if: ${{ (contains(needs.Build.result, 'failure')) }} == false ] || [ ${{ (contains(needs.UnitTests.result, 'failure')) }} == false
        uses: mshick/add-pr-comment@v2
        with:
          message: |
            Code analysis completed with issues! ❌
            
          
